.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UserInfo {
  display: flex;
  align-items: center;
}
.UserBody {
  margin-left: 20px;
}
.UserBody h3 {
  color: #fff;
}
.UserBody p {
  color: lightgray;
}
.HeaderIcons {
  color: #fff;
  display: flex;
}
.HeaderIconWrapper {
  background-color: rgba(0, 0, 0, 0.38);
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
