.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-bg);
  border-radius: 0 17px 17px 0;
  padding: 40px;
}
.InputForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #00000061;
  padding: 15px;
  border-radius: 17px;
}
.Sendinput {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  color: #fff;
  flex: 1;
  &::placeholder {
    color: lightgray;
  }
}
.FormIcons {
  color: #8175ff;
}
.FormIcons .MuiSvgIcon-root {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}
