.UserCard {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  border-radius: 17px;
  margin-right: 7px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background: hsl(0deg 0% 0% / 51%);
  }
}
.Con__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.Con__info h3 {
  color: #e1e1e1;
}
.Con__body {
  display: flex;
  justify-content: space-between;
  color: lightgray;
  width: 100%;
}
