:root {
  --user-bg: rgb(0 0 0 / 75%);
  --chat-bg: rgb(0 0 0 / 62%);
  --body-bg: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.07922090238615942) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.16144443572260592) 83%,
      rgba(249, 156, 142, 0.5) 23%
    );

  --yellow-icon: #ffbc2e;
  --red-icon: #fe5f58;
  --green-icon: #24c840;
}
#root {
  width: 100%;
  height: 100%;
}
body {
  background: var(--body-bg);
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
.Messenger {
  display: flex;
  border-radius: 17px;
  width: 100%;
  height: 100%;
}
